body {
  background: url('../../images/background.jpg') no-repeat #e9e9e9;
  color:#555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top:0;
  box-shadow: inset 0 80px 0 #007dc1;
  }

body.navbar-off {
  background: url('../../images/background.jpg') no-repeat #e9e9e9;
  }

.menu a.active, .menu a:hover.active, ul.nice-menu a.active, ul.nice-menu a:hover.active, .navigation ul.menu li ul.menu li a.active, .navigation ul li ul li a.active, .block-boxes-os_boxes_booktoc ul.menu li a.active {
  background: #f1e5c7;
  color: #555;
}
ul.nice-menu a, .menu a {
	color:#555555;
}
ul.nice-menu a:hover, .menu a:hover {
	color:#cc5500;
}
@media only screen and (max-width:320px) {
#page {
  margin-top: 50px;
  position:relative;
}
}
@media only screen and (max-width:600px) {
}
@media only screen and (min-width:600px) and (max-width:1025px) {
}
@media only screen and (min-width:1025px) {
}


.ut-logo {
  background: url(../../images/utlogo.png);
}