////////////////////////
// Variables Partials
////////////////////////

$mobile-break: 450px;
$tablet-break: 768px;
$desktop-break: 1024px;

// $login-break:790px;

$logo-break: 910px;

$basefont: Helvetica, Arial, sans-serif;
$headerfont:Calibri, Lucida Grande, Sans Serif;
$bodyfont: Calibri, Lucida Grande, Sans Serif;

 
// colors
$body-text-color: #333;
$box-color: rgba(white,.75);
$box-stroke: #ccc;
$text-color: #555;
$top-bar-text-color: white;
$mini-nav-text: #fff;
$gray: #333333;
$green: #26ae5f;
$blue: #3d97d3;
$red: #c0392b;
$orange: #e36f1e;

$border-radius: .2rem;

$grids: 2;
//$grids: add-grid(4 at $desktop-break);
// $gutters: 1;
  
  