
// footer
#footer{
	background-color:lighten($gray,70%);
	// border: 1px solid #d0d0d1;
	margin:0;

	@include breakpoint($mobile-break) {  
		margin: 0 .5em;
	}

	.footer-login {
		position: absolute;
		bottom: 1em;
		right: 1.5em;
		display: none;

		@include breakpoint($tablet-break) {  
			display: block;
		}
	}

}

#powered-by a {
	margin-bottom:10px;
}

#powerby-login {
	float: left;
	clear: none;
	margin-right: 10px;
	margin-top: 1.2em;
	min-width: 80px;
}

#powered-by a{
	float: left;
	margin: 1em;
}

.cse{
	float: right;
	margin: 1em;
	width: 300px;
	height: 25px;
	background: url("../images/cselogo.png") no-repeat scroll 0 0;
	background-position: 0 0;

	// @include breakpoint($mobile-break) {  
	// 	width: 300px;
	// 	background-position: 0 0;
	// }
}

.me-footer{
	width: 90%;
	display: inline-block;
	padding: .75em 1em;
	float: left;
	font-size: .9em;

	@include breakpoint($tablet-break) { 
		width: 50%;
	} 
}

